In [91]:
import pandas as pd
df=pd.read_csv('raw_cafe.csv')
display(df)

,Unnamed: 0,Name,Area,Dining_rating,Food_Items,Average_Cost
0,0,Coffee King Vesu,"Vesu, Surat",4.3,"Cafe, Beverages, Desserts, Italian, Finger Foo...",₹800 for two
1,1,Cafe Beats Arena,"Piplod, Surat",3.8,"Cafe, Coffee, Chinese, Continental, Fast Food,...",₹800 for two
2,2,The Bungalow Cafe,"Adajan Gam, Surat",3.8,"Cafe, Beverages, Pizza",₹800 for two
3,3,Cafe Mewaco,"Piplod, Surat",3.9,"Cafe, Coffee, Fast Food, Shake, Beverages",₹600 for two
4,4,Coffee King,"Adajan Gam, Surat",4.5,"Cafe, Beverages, Desserts, Italian, Finger Foo...",₹800 for two
...,...,...,...,...,...,...
118,118,Cafe IDA,"Vesu, Surat",-,"Cafe, Coffee, Pizza, Pasta, Chinese, Beverages","₹1,250 for two"
119,119,Karwaan The Cafe,"Jahangir Pura, Surat",-,"Cafe, Coffee, Fast Food, Desserts, Shake, Beve...",₹400 for two
120,120,Karwaan The Cafe,"Ramnagar, Surat",-,"Fast Food, Street Food",₹300 for two
121,121,Meadows,"Vesu, Surat",New,"Cafe, Coffee, Gujarati, North Indian, Italian,...","₹1,300 for two"
122,122,Coffee Experience Center,"Piplod, Surat",-,"Cafe, Coffee, Fast Food, Desserts","₹1,000 for two"

In [92]:
df.drop("Unnamed: 0", axis=1, inplace=True) 
display(df)

,Name,Area,Dining_rating,Food_Items,Average_Cost
0,Coffee King Vesu,"Vesu, Surat",4.3,"Cafe, Beverages, Desserts, Italian, Finger Foo...",₹800 for two
1,Cafe Beats Arena,"Piplod, Surat",3.8,"Cafe, Coffee, Chinese, Continental, Fast Food,...",₹800 for two
2,The Bungalow Cafe,"Adajan Gam, Surat",3.8,"Cafe, Beverages, Pizza",₹800 for two
3,Cafe Mewaco,"Piplod, Surat",3.9,"Cafe, Coffee, Fast Food, Shake, Beverages",₹600 for two
4,Coffee King,"Adajan Gam, Surat",4.5,"Cafe, Beverages, Desserts, Italian, Finger Foo...",₹800 for two
...,...,...,...,...,...
118,Cafe IDA,"Vesu, Surat",-,"Cafe, Coffee, Pizza, Pasta, Chinese, Beverages","₹1,250 for two"
119,Karwaan The Cafe,"Jahangir Pura, Surat",-,"Cafe, Coffee, Fast Food, Desserts, Shake, Beve...",₹400 for two
120,Karwaan The Cafe,"Ramnagar, Surat",-,"Fast Food, Street Food",₹300 for two
121,Meadows,"Vesu, Surat",New,"Cafe, Coffee, Gujarati, North Indian, Italian,...","₹1,300 for two"
122,Coffee Experience Center,"Piplod, Surat",-,"Cafe, Coffee, Fast Food, Desserts","₹1,000 for two"

In [93]:
df['Area']=df['Area'].str.replace(', Surat','')

In [94]:
df['Dining_rating']=df['Dining_rating'].str.replace('-','unavailable')

In [95]:
df['Coffee_availibility']=df['Food_Items'].str.contains('Coffee')
display(df)

,Name,Area,Dining_rating,Food_Items,Average_Cost,Coffee_availibility
0,Coffee King Vesu,Vesu,4.3,"Cafe, Beverages, Desserts, Italian, Finger Foo...",₹800 for two,False
1,Cafe Beats Arena,Piplod,3.8,"Cafe, Coffee, Chinese, Continental, Fast Food,...",₹800 for two,True
2,The Bungalow Cafe,Adajan Gam,3.8,"Cafe, Beverages, Pizza",₹800 for two,False
3,Cafe Mewaco,Piplod,3.9,"Cafe, Coffee, Fast Food, Shake, Beverages",₹600 for two,True
4,Coffee King,Adajan Gam,4.5,"Cafe, Beverages, Desserts, Italian, Finger Foo...",₹800 for two,False
...,...,...,...,...,...,...
118,Cafe IDA,Vesu,unavailable,"Cafe, Coffee, Pizza, Pasta, Chinese, Beverages","₹1,250 for two",True
119,Karwaan The Cafe,Jahangir Pura,unavailable,"Cafe, Coffee, Fast Food, Desserts, Shake, Beve...",₹400 for two,True
120,Karwaan The Cafe,Ramnagar,unavailable,"Fast Food, Street Food",₹300 for two,False
121,Meadows,Vesu,New,"Cafe, Coffee, Gujarati, North Indian, Italian,...","₹1,300 for two",True
122,Coffee Experience Center,Piplod,unavailable,"Cafe, Coffee, Fast Food, Desserts","₹1,000 for two",True

In [96]:
df['Average_Cost']=df['Average_Cost'].str.replace('₹','')
df['Average_Cost']=df['Average_Cost'].str.replace('for two','')
df['Average_Cost']=df['Average_Cost'].str.replace(',','')
display(df)

,Name,Area,Dining_rating,Food_Items,Average_Cost,Coffee_availibility
0,Coffee King Vesu,Vesu,4.3,"Cafe, Beverages, Desserts, Italian, Finger Foo...",800,False
1,Cafe Beats Arena,Piplod,3.8,"Cafe, Coffee, Chinese, Continental, Fast Food,...",800,True
2,The Bungalow Cafe,Adajan Gam,3.8,"Cafe, Beverages, Pizza",800,False
3,Cafe Mewaco,Piplod,3.9,"Cafe, Coffee, Fast Food, Shake, Beverages",600,True
4,Coffee King,Adajan Gam,4.5,"Cafe, Beverages, Desserts, Italian, Finger Foo...",800,False
...,...,...,...,...,...,...
118,Cafe IDA,Vesu,unavailable,"Cafe, Coffee, Pizza, Pasta, Chinese, Beverages",1250,True
119,Karwaan The Cafe,Jahangir Pura,unavailable,"Cafe, Coffee, Fast Food, Desserts, Shake, Beve...",400,True
120,Karwaan The Cafe,Ramnagar,unavailable,"Fast Food, Street Food",300,False
121,Meadows,Vesu,New,"Cafe, Coffee, Gujarati, North Indian, Italian,...",1300,True
122,Coffee Experience Center,Piplod,unavailable,"Cafe, Coffee, Fast Food, Desserts",1000,True

In [97]:
df['Average_Cost']=df['Average_Cost'].astype('str').astype('int')
df['Average_Cost'].info
df['Average_Cost']=df['Average_Cost']/2
display(df)

,Name,Area,Dining_rating,Food_Items,Average_Cost,Coffee_availibility
0,Coffee King Vesu,Vesu,4.3,"Cafe, Beverages, Desserts, Italian, Finger Foo...",400.0,False
1,Cafe Beats Arena,Piplod,3.8,"Cafe, Coffee, Chinese, Continental, Fast Food,...",400.0,True
2,The Bungalow Cafe,Adajan Gam,3.8,"Cafe, Beverages, Pizza",400.0,False
3,Cafe Mewaco,Piplod,3.9,"Cafe, Coffee, Fast Food, Shake, Beverages",300.0,True
4,Coffee King,Adajan Gam,4.5,"Cafe, Beverages, Desserts, Italian, Finger Foo...",400.0,False
...,...,...,...,...,...,...
118,Cafe IDA,Vesu,unavailable,"Cafe, Coffee, Pizza, Pasta, Chinese, Beverages",625.0,True
119,Karwaan The Cafe,Jahangir Pura,unavailable,"Cafe, Coffee, Fast Food, Desserts, Shake, Beve...",200.0,True
120,Karwaan The Cafe,Ramnagar,unavailable,"Fast Food, Street Food",150.0,False
121,Meadows,Vesu,New,"Cafe, Coffee, Gujarati, North Indian, Italian,...",650.0,True
122,Coffee Experience Center,Piplod,unavailable,"Cafe, Coffee, Fast Food, Desserts",500.0,True

In [98]:
df.to_csv('final_cafe.csv')